/* app css stylesheet */

body {
	background: -webkit-radial-gradient(circle, #407D71, #0E3947);
	font-family: "Century Gothic", Times, serif;
	font-size: 20px;
	color: white;
}

body input {
	color:black;
}

h1 {
	font-family: "Century Gothic", Times, serif;
	font-size: 52px;
	color: white;
	text-shadow: 2px 2px 0 black;
}

p {
	font-family: "Century Gothic", Times, serif;
	font-size: 20px;
	color: white;
}

.unstyled {
    list-style: none;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

/* Animations */
.slide-animation.ng-hide-remove {
  -webkit-animation:0.5s slideInRight;
  animation:0.5s slideInRight;
    display:block!important
}

.slide-animation.ng-hide-add {
  -webkit-animation: .5s slideOutLeft;
  animation: .5s slideOutLeft;
    display:block!important
}

.todo-animation.ng-enter {
  -webkit-animation:0.5s bounceIn;
  animation:0.5s bounceIn;
}

.todo-animation.ng-leave {
  -webkit-animation: 1.5s hinge;
  animation: 1.5s hinge;
}

.flash-animation {
    background-color: blue;
}

.flash-animation.flash-animation-remove {
  -webkit-animation: .5s red-to-blue;
  animation: .5s red-to-blue;
  display:block!important;
}

.flash-animation.flash-animation-add {
  -webkit-animation: .5s red-to-blue;
  animation: .5s red-to-blue;
  display:block!important;
}

@-webkit-keyframes red-to-blue {
    0% {
        background-color: green;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: purple;
    }
}

.spin-animation {
  -webkit-animation: 1s rotateThis infinite;
  animation: 1s rotateThis;
    -webkit-animation-direction: alternate;
}

.backwards-spin-animation {
  -webkit-animation: 4s rotateThis infinite;
  animation: 4s rotateThis;
    -webkit-animation-direction: alternate;  
}

@keyframes rotateThis {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(1080deg);
  }
}
@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(1080deg);
  }
}