<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Demo Time!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			<p>Data Binding</p>
		</div>
		<div class="col-lg-5">
			<span>Name:</span>
			<input class="form-control" type="text" ng-model="simpleName" placeholder="Enter a Name" />
		</div>
		<div class="col-lg-10">
			<h2 ng-if="simpleName">Nice to meet you {{simpleName}}!</p>
		</div>
		<div class="col-lg-10">
			<div ng-if="simpleName.split(' ')[1] == lastName">
				<h2>{{simpleName.split(' ')[0]}} - are you related to Jim {{lastName}}??</h2>
				<input type="radio" ng-model="$parent.relatedValue" ng-value="true" />Yes
				<input type="radio" ng-model="$parent.relatedValue" ng-value="false" />No
			</div>
		</div>
		<div class="col-lg-5">
		</div>
		<div class="col-lg-10">
			<div ng-show="relatedValue">
				<h2>That's fantastic! He's a great guy!</h2>
			</div>
			<div ng-show="(!relatedValue && relatedValue != null)">
				<h2>Oh, that's too bad.</h2>
				<input type="button" class="btn btn-default" value="Carry on" ng-click="nextPage()" />
			</div>
		</div>
	</div>
</div>