<div class="container" ng-class="{'flash-animation': flashIn, 'backwards-spin-animation': superSpin}" >
	<div class="row">
		<div class="col-lg-12">
			<h1>Demo Time!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<p>Animation Demo</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<input type="button" class="btn" ng-click="slideIn=!slideIn" value="Slide in">
			<div class="slide-animation" ng-show="slideIn">Weeeeeeeeeeeeeee!</div>
		</div>
		<div class="col-lg-2">
			<input type="button" class="btn" ng-click="flashIn=!flashIn" value="Flash">
		</div>
		<div class="col-lg-2">
			<input type="button" class="btn" ng-click="showSpin=!showSpin" value="Spin">
			<input type="button" class="btn spin-animation" ng-show="showSpin" ng-class="{'spin-animation': spinMe, 'backwards-spin-animation' : !spinMe}" ng-click="spinMe=!spinMe" value="Faster!">
			<input type="button" class="btn" ng-show="showSpin" ng-click="superSpin=!superSpin" value="Ludacris Spin!">
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-lg-5">
			<p>Upgraded Todo List</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-10">
						<p class="form-control-static">Search & Filter</p>
					</div>
					<div class="col-sm-10">
						<input class="form-control" type="text" ng-model="searchList" placeholder="Search">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5" ng-controller="TodoController">
			<span>{{remaining()}} of {{todos.length}} remaining</span>
			[
			<a href="" ng-click="archive()">archive</a>]
			<ul class="unstyled">
				<li ng-repeat="todo in todos | filter:searchList track by $id($index)" class="todo-animation">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="todoText" size="30" placeholder="Add new todo here">
					<span class="input-group-btn">
						<input class="btn btn-primary" type="submit" value="Add" />
					</span>
				</div>
			</form>
		</div>
	</div>
</div>