<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>What can Angular do for you?</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			<ul>
				<li ng-repeat="item in listContent"><p>{{item}}</p></li>
			</ul>
		</div>
	</div>
</div>