<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>SPI Glass - How we're using it</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
            <img src=/img/spiglass.png style="height:650px; width: 750px;" />
		</div>
	</div>
</div>