<div style="margin-top: 180px;">
	<img src="img/AngularJS.png" />
</div>
<div style="margin-top:300px;">
	<span class="pull-left"><p>LUNCH & LEARN</p></span>
	<span class="pull-right"><p>WITH KEN & KEVIN</p></span>
</div>