<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Demo Time!</h1>
			<p>Basic Todo List</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5" ng-controller="TodoController">
			<span>{{remaining()}} of {{todos.length}} remaining</span>
			[
			<a href="" ng-click="archive()">archive</a>]
			<ul class="unstyled">
				<li ng-repeat="todo in todos track by $id($index)">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="todoText" size="30" placeholder="Add new todo here">
					<span class="input-group-btn">
						<input class="btn btn-primary" type="submit" value="Add" />
					</span>
				</div>
			</form>
		</div>
	</div>
</div>