<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <h1>Fork me!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src=/img/ng-demoss.png style="height:650px; width: 950px;" />
        </div>
    </div>
</div>